@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;

}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;

}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;

}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;

}

body {
  font-family: "Rubik", sans-serif ;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background: #ffffff ;
}
.page-header {
  color: #000000;
  background: #ffE17f;
}
/*стили для ссылок Меню пользователя*/
.navigation-user-link {
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  text-decoration: none;
  }

 /*стили для ссылок Навигации по сайту*/
.navigation-list-link {
  font-family: "Raleway", sans-serif ;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.main-index {
  background-color: #ffffff;
}

.showcase p:nth-last-of-type(2) { /*кажется, что можно было проще селектор использовать...*/
  font-family: "Raleway", sans-serif ;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.button {
  font-family: "Raleway", sans-serif ;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  background-color:#ffE17f;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.button-current {
  font-family: "Raleway", sans-serif ;
  color: #ffE17f;
  background-color:#000000;
}

.specifications-item {
  font-size: 16px;
  font-weight: 400;
}
.specifications-value {
  font-size: 36px;
  font-weight: 400;
}
/*убирает маркеры у списков*/
.categories-list, /*селекторы через запятую, вероятно, так лучше не делать, надо уточнить*/
.navigation-user,
.navigation-list,
.contacts-shedule,
.footer-social-list,
.breadcrumbs,
.filter-list,
.pagination {
  list-style-type: none
}
.categories-link {
  font-family: "Raleway", sans-serif ;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
}

/*Категории гаджетов*/
.categories-icons {
  width: 160px;
  height: 160px;
  background-color: #ffE17f;
}
.icon-vr {
  background-image: url("../images/catalog/vr.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.icon-monopod {
  background-image: url("../images/catalog/monopod.svg");
  background-repeat: no-repeat;
  background-position: 50% 43px;
}
.icon-action-camera {
  background-image: url("../images/catalog/action-camera.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.icon-fitness-tracker {
  background-image: url("../images/catalog/fitness-tracker.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.icon-smart-watch {
  background-image: url("../images/catalog/smart-watch.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.icon-drone {
  background-image: url("../images/catalog/drone.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* Услуги */
.services-name {
  font-family: "Raleway", sans-serif ;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}
.services {
  background-color: #f0f0f0 ;
  background-image: url("../images/delivery-services.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* что то не так сделал, надо разобраться */
.additional-service{
  width: 1160px;
  height: 100px;
  background-color: #f0f0f0;
  background-image: url("../images/delivery-car-services.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.button-additional-service {
  font-family: "Raleway", sans-serif ;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
}

.information-title, /*селекторы через запятую, вероятно, так лучше не делать, надо уточнить*/
.contacts-title,
.submit-title {
  font-family:"Raleway", sans-serif ;
  font-size: 50px;
  line-height:50px;
  color: #000000;
  }

.delivery-item {
  color:#ffE17f
}
.delivery-item span {
  font-weight: 700;
  line-height: 20px;
  color:#000000;
}
.contacts-subtitle {
  font-family: "Rubik", sans-serif ;
  font-size:24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.contacts-address {
  font-style:normal;
}
.contacts-phone {
  color:#000000;
}
.submit {
  background-color: #f0f0f0;
}
.submit-button {
  font-family: "Raleway", sans-serif ;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}
.page-footer {
  background-color: #444444;
  color: #ffffff;
}
.footer-address-street {
  font-style: normal;
}
.page-footer .navigation-list-link {
  color:#ffffff;
}
.footer-contacts-phone {
  color: #ffffff;
  font-style: normal;
}
.htmlacademy-link {
  color: #ffE17f;
}
/*для каталога*/
.navigation-user-link .entered {
/*хотел поменять цвет "Выйти" но в макете показывает что он черный , хотя виден как серый, не понял*/
}
.inner-header-title {
  font-family: "Raleway", sans-serif ;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color:#000000;
  text-decoration: none;
}
.filter-title,
.select-title {
  font-family: "Raleway", sans-serif ;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}
.filter-form-title {
  line-height: 20px;
  font-weight: 700;
}
.product-card-link{
  text-decoration: none;
}
.product-card span {
  line-height: 21px;
}
.product-card-title {
  font-family: "Rubik", sans-serif ;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}
.pagination-more {
  font-family: "Raleway", sans-serif ;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
.pagination-link {
  font-size: 16px;
  line-height: 20px;
  color:#444444;
}
.pagination-back,
.pagination-forward {
  font-family: "Raleway", sans-serif ;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
.pagination {
  background-color: #EBEBEB;
}
